body { 
    padding-top: 50px;
    background: #EEE;
    font-size: 15px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

body > .container {
    background: #FFF;
    padding: 30px;
    box-shadow: 0 0 10px #666;
}

ul, ol {
    margin-left: 0;
    padding-left: 1em;
}

code {
    background-color: #F9F9F9;
    box-shadow: 0 0 1px #999999 inset;
}

pre > code {
    background-color: transparent;
    box-shadow: none;
    /*font-size: 90%;*/
}

.page-header h1 {
    text-shadow: 1px 1px 8px #FFF, 1px 1px 3px #666;
}

.sidebar > .panel {
    margin-bottom: 0;
}

.page-container {
    /*font-family: Cambria, 'PT Serif', Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;*/
}

.page-container h1 {
    /*font-family: Cambria, 'PT Serif', Georgia, Times, 'Times New Roman', serif;*/
    margin: 0 0 1em;
}

.page-container p {
    margin-bottom: 1em;
}

[data-page] {
    display: none;    
}

[data-page].active {
    display: block;
}

code, pre {
    line-height: normal;
    white-space: pre;
    /*font-size: 90%;*/
}

pre.prettyprint {
    white-space: nowrap;
    overflow: auto;
}

pre.prettyprint code {
    white-space: pre;
}

blockquote, blockquote p {
    font-size: inherit;
}

/* benchmark ---------------------------------------------------------------- */
#benchmarks {
    font-size: 13px;
}

.benchmark td {
    vertical-align: middle !important;
}

.label-vjs-current,
.label-vjs-dev,
.label-native {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    vertical-align: text-top;
    border-radius: 2px;
}

.benchmark.native, .label-native {
    background: #DEF;
}
.benchmark.edge, .label-vjs-dev {
    background: #FED;
}
.benchmark.new, .label-vjs-dev {
    background: #DFE;
}

.benchmark:last-child {
    border-bottom: none;
}

.run {
    cursor     : pointer;
    color      : #777;
    font-weight: normal;
    text-shadow: 0 1PX 0 #FFF;
}
.run:after {
    content: "Run";
}
.run .glyphicon:before {
    content: "\e072";
}

.runing {
    box-shadow: 0 0 0 4px rgba(150, 0, 0, 0.2);
    border-color: #BBB;
}

.runing .run:after {
    content: "Stop";
} 
.runing .run .glyphicon:before {
    content: "\e074";
}

.progress {
    height: 10px;
    margin: 0;
}

.panel-title {
    font-weight: bold;
    text-shadow: 0 1px 0 #FFF;
}

.suite.collapsed .table {
    display: none;
}