<link rel="stylesheet" href="/pages/tests/qunit-1.11.0.css" />
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<script type="text/javascript" src="/pages/tests/qunit-1.11.0.js"></script>
<!--script src="/pages/tests/oop2.js"></script-->
<!--script src="/js/vjs-lib.test.js"></script-->
<script type="text/javascript">
var VJS_TESTING_NAMESPACE = {};
</script>
<!--script type="text/javascript" src="/js/oop3.js"></script-->
<script type="text/javascript" src="/js/vjs-edge.js"></script>
<script type="text/javascript">
var vjs = vjs_edge;
</script>
<script type="text/javascript" src="/pages/tests/tests.js"></script>
