<h1>Performance Tests</h1>
<p>
	<span class="label-vjs-current"></span> VJS Current&nbsp;&nbsp;&nbsp;
	<span class="label-vjs-dev"></span> VJS Dev&nbsp;&nbsp;&nbsp;
	<span class="label-native"></span> Native&nbsp;&nbsp;&nbsp;
	<span class="text-muted pull-right">
		Powered by <a href="http://benchmarkjs.com/" target="_blank">Benchmark.js</a>
	</span>
</p>
<div id="benchmarks"></div>

<textarea style="display:none" class="tpl-benchmark">
	<td class="benchmark-name"><%=name%></td>
	<td class="details text-right"></td>
	<td style="width: 150px">
		<div class="progress" style="height: 10px;margin: 0">
			<div class="progress-bar"></div>
		</div>
	</td>
</textarea>

<textarea style="display:none" class="tpl-suite">
	<div class="panel-heading">
		<h3 class="panel-title">
			<a href="#" class="toggle">
				<i class="glyphicon glyphicon-chevron-right pull-left text-muted"></i>
				&nbsp;<%=name%>
			</a>
			<small class="state text-danger"></small>
			<span class="pull-right run" disabled style="font-size: 75%">
				<i class="glyphicon glyphicon-play"></i>
			</span>
		</h3>
	</div>
	<table class="table"><tbody></tbody></table>
</textarea>

<script type="text/javascript" src="/pages/tests/benchmark.js"></script>
<script type="text/javascript" src="/js/oop3.js"></script>
<script type="text/javascript" src="/js/vjs-edge.js"></script>
<script type="text/javascript" src="/pages/tests/app.js"></script>
<script>



var templates = {
	benchmark : _.template($(".tpl-benchmark").val()),
	suite     : _.template($(".tpl-suite").val())
};

var SuiteView = Backbone.View.extend({
	className : "panel panel-default suite collapsed",
	events : {
		"click .run" : "toggleRun",
		"click .panel-title .toggle" : "toggle"
	},
	initialize : function() {
		this.model.on("start"   , _.bind(this.onStart   , this));
		this.model.on("complete", _.bind(this.onComplete, this));
		this.model.on("abort"   , _.bind(this.onAbort   , this));
		this.model.on("error"   , _.bind(this.onError   , this));
	},
	onStart : function() {
		this.$el.addClass("runing").removeClass("panel-danger");
		this.$el.find(".state").text(" Running...");
	},
	onComplete : function() {
		this.$el.removeClass("runing");
		this.expand();
		this.updateProgress();
		this.$el.find(".state").text("");
	},
	onAbort : function() {
		this.$el.removeClass("runing");
	},
	onError : function() {
		this.$el.removeClass("runing").addClass("panel-danger");
	},
	render : function() {
		this.$el.html(templates.suite(this.model));
		var tbody = this.$el.find("tbody");
		this.model.forEach(function(bench) {
			(new BenchmarkView({ model : bench })).render().$el.appendTo(tbody);
		});
		return this;
	},
	toggleRun : function() {
		if (this.model.running) {
			this.model.abort();
		} else {
			this.model.aborted = false;
			this.model.reset();
			this.model.run({ 'async': true });
		}
	},
	updateProgress : function() {
		var view = this;
		var max = Math.max.apply(Math, view.model.map(function(bench) {
			return bench.hz;
		}));

		view.model.forEach(function(bench, i) {
			var pct = Math.round(bench.hz/max * 100);
			view.$el.find(".progress-bar").eq(i).css("width", pct + "%");
		});
	},
	expand : function() {
		this.$el.removeClass("collapsed").find(".toggle .glyphicon")
			.removeClass("glyphicon-chevron-right")
			.addClass("glyphicon-chevron-down");
	},
	collapse : function() {
		this.$el.addClass("collapsed").find(".toggle .glyphicon")
			.addClass("glyphicon-chevron-right")
			.removeClass("glyphicon-chevron-down");
	},
	toggle : function(e) {
		e.preventDefault();
		if (this.$el.is(".collapsed")) {
			this.expand();
		} else {
			this.collapse();
		}
	}
});

var BenchmarkView = Backbone.View.extend({
	tagName : "tr",
	className : "benchmark",
	initialize : function() {
		this.model.on("start"   , _.bind(this.onStart   , this));
		this.model.on("complete", _.bind(this.onComplete, this));
		this.model.on("abort"   , _.bind(this.onAbort   , this));
		this.model.on("error"   , _.bind(this.onError   , this));
	},
	render : function() {
		this.$el.html(templates.benchmark(this.model));
		if (this.model.className) {
			this.$el.addClass(this.model.className);	
		}
		return this;
	},
	onStart : function() {
		this.setState("Runing...");
	},
	onComplete : function() {
		this.setState("Complete");
		this.setDetails();
	},
	onAbort : function() {
		this.setState("Aborted");
	},
	onError : function() {
		this.setState("Error!");
	},
	setState : function(state) {
		this.$el.find(".details").text(state);
	},
	setDetails : function() {
		var me    = this.model,
	        hz    = me.hz,
	        stats = me.stats,
	        pm    = Benchmark.support.java ? '+/-' : '\xb1',
			str   = '<b>' + 
				Benchmark.formatNumber(hz.toFixed(hz < 100 ? 2 : 0)) + 
				'</b>&nbsp;ops/sec &nbsp;&nbsp;<span class="text-muted">' + pm + 
				stats.rme.toFixed(2) + '%</span>';

		this.$el.find(".details").html(str);
	}
});

////////////////////////////////////////////////////////////////////////////////
$(function() {



// Tests for creating a class --------------------------------------------------
(function() {
	var suite = new Benchmark.Suite("Creating a Class");

	suite.add('VJS Current', function() {
		vjs('class Class', {
			a : 1,
			b : 2,
			c : 3
		});
	});

	suite.add('VJS Dev', function() {
		vjs_edge('class Class', {
			a : 1,
			b : 2,
			c : 3
		});
	}, { className : "edge" });

	suite.add('Native', function() {
		function Class() {}
		Class.prototype = {
			a : 1,
			b : 2,
			c : 3
		};
	}, { className : "native" });

	(new SuiteView({ model : suite }))
		.render()
		.$el.appendTo("#benchmarks");
})();

// Tests for creating an instance ----------------------------------------------
(function() {
	var suite = new Benchmark.Suite("Create Class Instance");
	
	function NativeClass() {};
	NativeClass.prototype = {
		a : 1,
		b : 2,
		c : 3
	};

	var VjsClass = vjs('class VjsClass', {
		a : 1,
		b : 2,
		c : 3
	});

	var VjsClassEdge = vjs_edge('class VjsClassEdge', {
		a : 1,
		b : 2,
		c : 3
	});

	suite.add('VJS Current', function() {
		new VjsClass();
	});

	suite.add('VJS Dev', function() {
		new VjsClassEdge();
	}, { className : "edge" });

	suite.add('Native', function() {
		new NativeClass();
	}, { className : "native" });

	(new SuiteView({ model : suite }))
		.render()
		.$el.appendTo("#benchmarks");
})();

// Read public property --------------------------------------------------------
(function() {
	var suite = new Benchmark.Suite("Read Public Property");

	function MyNativeClass() {}
	
	MyNativeClass.prototype = {
		publicProp : 1
	};

	var MyClass = vjs('class ClassA', {
		"public publicProp" : 1
	});
	
	var MyEdgeClass = vjs_edge('class ClassA', {
		"public publicProp" : 1
	});
	
	var inst = new MyClass();
	var instEdge = new MyEdgeClass();
	var instNative = new MyNativeClass();

	suite.add('VJS Current', function() {
		inst.publicProp;
	});
	
	suite.add('VJS Dev', function() {
		instEdge.publicProp;
	}, { className : "edge" });
	
	suite.add('Native', function() {
		instNative.publicProp;
	}, { className : "native" });

	(new SuiteView({ model : suite }))
		.render()
		.$el.appendTo("#benchmarks");
})();

// Write public property -------------------------------------------------------
(function() {
	var suite = new Benchmark.Suite("Write Public Property");

	function MyNativeClass() {}
	
	MyNativeClass.prototype = {
		publicProp : 1
	};

	var MyClass = vjs('class ClassA', {
		"public publicProp" : 1
	});
	
	var MyEdgeClass = vjs_edge('class ClassA', {
		"public publicProp" : 1
	});
	
	var inst = new MyClass();
	var instEdge = new MyEdgeClass();
	var instNative = new MyNativeClass();

	suite.add('VJS Current', function() {
		inst.publicProp = 2;
	});
	
	suite.add('VJS Dev', function() {
		instEdge.publicProp = 2;
	}, { className : "edge" });
	
	suite.add('Native', function() {
		instNative.publicProp = 2;
	}, { className : "native" });

	(new SuiteView({ model : suite }))
		.render()
		.$el.appendTo("#benchmarks");
})();

// Call public method ----------------------------------------------------------
(function() {
	var suite = new Benchmark.Suite("Call public method");

	function MyNativeClass() {}
	MyNativeClass.prototype = {
		a : function() {}
	};

	var MyClass = vjs('class ClassA', {
		a : function() {}
	});

	var MyEdgeClass = vjs_edge('class ClassA', {
		a : function() {}
	});

    var MyNewClass = Class.extend({
        a : function() {}
    });

	var inst = new MyClass();
	var instEdge = new MyEdgeClass();
	var instNative = new MyNativeClass();
    var instNew = new MyNewClass();

	suite.add('VJS Current', function() {
		inst.a();
	});

	suite.add('VJS Dev', function() {
		instEdge.a();
	}, { className : "edge" });

	suite.add('New', function() {
		instNew.a();
	}, { className : "native" });

    suite.add('Native', function() {
        instNative.a();
    }, { className : "new" });

	(new SuiteView({ model : suite }))
		.render()
		.$el.appendTo("#benchmarks");
})();

// Call public static method ---------------------------------------------------
(function() {
	var suite = new Benchmark.Suite("Call Public Static Method");

	function MyNativeClass() {}
	MyNativeClass.prototype = {};
	MyNativeClass.b = function() {};

	var MyClass = vjs('class ClassA', {
		"static b" : function() {}
	});

	var MyEdgeClass = vjs_edge('class ClassA', {
		"static b" : function() {}
	});

	suite.add('VJS Current', function() {
		MyClass.b();
	});

	suite.add('VJS Dev', function() {
		MyEdgeClass.b();
	}, { className : "edge" });

	suite.add('Native', function() {
		MyNativeClass.b();
	}, { className : "native" });

	(new SuiteView({ model : suite }))
		.render()
		.$el.appendTo("#benchmarks");
})();

// Call protected static method ------------------------------------------------
(function() {
	var suite = new Benchmark.Suite("Call Protected Static Method");

	var MyClass = vjs('class ClassA', {
		"protected static c" : function() {},
		"static testProtectedStatic" : function() {
			this.c();
		}
	});

	var MyEdgeClass = vjs_edge('class ClassA', {
		"protected static c" : function() {},
		"static testProtectedStatic" : function() {
			this.c();
		}
	});
	
	suite.add('VJS Current', function() {
		MyClass.testProtectedStatic();
	});

	suite.add('VJS Dev', function() {
		MyEdgeClass.testProtectedStatic();
	}, { className : "edge" });

	(new SuiteView({ model : suite }))
		.render()
		.$el.appendTo("#benchmarks");
})();

// Call private static method --------------------------------------------------
(function() {
	var suite = new Benchmark.Suite("Call Private Static Method");

	var MyClass = vjs('class ClassA', {
		"private static d" : function() {},
		"static testPrivateStatic" : function() {
			this.d();
		}
	});

	var MyEdgeClass = vjs_edge('class ClassA', {
		"private static d" : function() {},
		"static testPrivateStatic" : function() {
			this.d();
		},
	});

	// Call private static method ----------------------------------------------
	suite.add('VJS Current', function() {
		MyClass.testPrivateStatic();
	});

	suite.add('VJS Dev', function() {
		MyEdgeClass.testPrivateStatic();
	}, { className : "edge" });

	(new SuiteView({ model : suite }))
		.render()
		.$el.appendTo("#benchmarks");
})();

// Calling super methods -------------------------------------------------------
(function() {
	
	var suite = new Benchmark.Suite("Call Super Method");

	//var NativeClassA = function() {};
	//NativeClassA.prototype = {
	//	fnA : function() {}
	//};
	//var NativeClassB = function() {};
	//NativeClassB.prototype = {
	//	fnA : function() {
	//		return NativeClassA.prototype.fnA.apply(this, arguments);
	//	}
	//};
	//var instNativeClassB = new NativeClassB();


	var VjsClassA = vjs("class VjsClassA", {
		fnA : function() {}
	});
	var VjsClassB = vjs("class VjsClassB extends VjsClassA", {
		fnA : function() {
			return this.__super__();
		}
	});
	var instVjsClassB = new VjsClassB();


	var EdgeClassA = vjs_edge("class EdgeClassA", {
		fnA : function() {}
	});
	var EdgeClassB = vjs_edge("class EdgeClassB extends EdgeClassA", {
		fnA : function() {
			return this.__super__();
		}
	});
	var instEdgeClassB = new EdgeClassB();

	
	suite.add('VJS Current', function() {
		instVjsClassB.fnA();
	});

	suite.add('VJS Dev', function() {
		instEdgeClassB.fnA();
	}, { className : "edge" });

	//suite.add('Native', function() {
	//	instNativeClassB.fnA();
	//}, { className : "native" });

	(new SuiteView({ model : suite }))
		.render()
		.$el.appendTo("#benchmarks");

})();

});


</script>
