.container {
	padding: 15px;
}

*:first-child {
	margin-top: 0;
}

*:last-child {
	margin-bottom: 0;
}

#app {
	background: #EEE;
	font-size: 13px;
	position: relative;
	border  : 1px solid #DDD;
	border-radius: 5px;
	height: 500px;
	min-width: 700px;
}

#app hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #DDD;
}

#app .sidebar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 32%;
}

#app .sidebar header {
	position: absolute;
	top     : 10px;
	left    : 10px;
	right   : 10px;
}

#app .sidebar footer {
	position: absolute;
	bottom  : 10px;
	left    : 10px;
	right   : 10px;
}

#app .sidebar .notes-list {
	position: absolute;
	top     : 55px; 
	bottom  : 55px; 
	left    : 10px; 
	right   : 10px; 
	overflow: auto;
	border  : 1px solid rgba(0, 0, 0, 0.1);
	background: #DDD;
	box-shadow: inset 0px 0px 10px 0px #CCC;
}

#app .sidebar .notes-list .list {
	background: #FFF;
}
#app .sidebar .notes-list .note {
	display: block;
	background: #FFF;
	margin-bottom: 1px;
	padding: 10px;
	box-shadow: 0 12px 30px -20px rgba(0, 0, 0, 0.5);
	color: #000;
	text-decoration: none;
}
#app .sidebar .notes-list a.note:last-child {
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1), 0 10px 20px -10px rgba(0, 0, 0, 0.35);
	margin-bottom: 0;
}
#app .sidebar .notes-list .note:focus {
	outline: none;
}

#app .sidebar .notes-list .note.active {
	background: #176896;
	color: #FFF;
	text-shadow: 0 1px 1px #000000;
}

#app .sidebar .notes-list .note.active .list-group-item-text {
	color: rgba(136, 187, 211, 1);
	text-shadow: 0px 0px 1px #000;
}

.note-name {
	background: transparent;
	border: none;
	margin-bottom: 10px;
	box-shadow: none !important;
	font-size: 30px;
	line-height: 1;
	padding: 0 10px; 
}

#app .main {
	position: absolute;
	top     : 10px; 
	bottom  : 10px; 
	left    : 32%; 
	right   : 10px;
	border-left: 1px solid #DDD
}

textarea {
	width: 100%;
	border: none;
	background: transparent; 
	outline: none;
	resize: none;
	padding: 0 0 0 10px;
	position: absolute;
	top: 55px;
	bottom: 0;
	left: 0;
}

.search-match {
    background: none repeat scroll 0 0 #FFFFCC;
    border-radius: 3px;
    box-shadow: 0 -20px 10px -10px #FFDD88 inset, 0 0 0 1px #FFFFCC, 0 0 0 2px rgba(0, 0, 0, 0.1), 0 1px 2px 1px rgba(0, 0, 0, 0.5);
    color: #993300;
    text-shadow: 0 1px 0 #FFFFCC;
    position: relative;
    z-index: 2;
}

.btn-danger[disabled] {
	opacity: 0.5;
	color: rgba(255, 255, 255, 0.5);
}
