<article>
    <h1>Autoloading Classes</h1>
    <p>
		Class auto-loading usually means the ability to use some classes even 
		before they were included, i.e. to have something that will 
        automatically include them for you whenever you need them for the first 
        time. 
    </p>
    <p>
		In order to make something like this we need to use an synchronous 
        - something that is not available in the browser environments (assuming
		that the synchronous AJAX is not a solution). However, VJS can also 
		work on the server (tested with Node) where this is completely possible.
    </p>
    <p>
		There is a function in the vjs.config object that can be overriden to 
		handle such a custom tasks. Even in the browser that still might be 
		useful (to keep track of what gets included and in what order for 
		example).
	</p>
	<p>
        VJS provides a way to define custom loader for missing classes. The 
        place to do define such function is at vjs.config.loadClass. This might 
        be a bit tricky, so let's first consider how VJS works.
    </p>
    <p>
        When you create a class you have a few ways to use it:
    </p>
    <pre class="prettyprint lang-js"><code>
    var MyClass = vjs("class Something", ...);
    
    // Now you can do:
    var myInstance = new MyClass();
    
    // or 
    var myInstance = new Something();
    
    // or 
    var myInstance = new window.Something();
    
    // etc.
    </code></pre>
    <br/>
    
    <p>
        It is important to understand that what you get in the vjs() return 
        value (the "MyClass" variable in the above example) is the class 
        constructor function. The same is true for the values written to the 
        namespaces (the "myInstance" variables in the above example). VJS 
        creates a Class objects but keeps them hidden in it's internal 
        collection and only returns the constructor for each class.
    </p>
    <p>
        The real Class objects can be retrieved if needed using the 
        <code class="prettyprint lang-js">vjs.getClass(classPath);</code> 
        method. That would be required for defining custom class loaders because 
        they must return class objects instead of constructor functions. Here is 
        one simple example:
    </p>
    <pre class="prettyprint lang-js"><code>
    // The custom class loader
    vjs.config.loadClass = function(path) {
        return vjs.getClass(path.replace(/^My/, "")); // might be undefined
    };
    
    vjs("class Base", {...});
    
    // This line will work normally (unles vjs.config.namespace 
    // is reset to something falsy) because the "Base" class is 
    // already created and available
    vjs("class Child extends Base");
    
    // This line will fail because VJS knows nothing about class 
    // "MyBase". In this case it will check if vjs.config.loadClass
    // is a function and if so, will call it with the class path 
    // as argument. The result should be a Class object.
    vjs("class Child extends MyBase");
    </code></pre>
    <p>
        The above example is not really useful but it illustrates two important 
        rules:
    </p>
    <ol>
        <li>
            The custom loader at vjs.config.loadClass will only be called if the 
            built-in class resolution fails to resolve the current path.
        </li>
        <li>
            The return value of the loader function must be a class and not a 
            constructor function.
        </li>
    </ol>
    <br/>
    <p>
        Here is a better example for NodeJS:
    </p>
    <pre class="prettyprint lang-js"><code>
    // File "Base.js" 
    // -----------------------------------------------
    module.exports = global.vjs("class Base", {...});
    
    // Current file
    // -----------------------------------------------
    vjs.config.loadClass = function(path) {
        require(path + ".js");
        // after the file is required and executed 
        // vjs.getClass(path) should succeed
        return vjs.getClass(path);
    };
    </code></pre>
    <br />
    <br />
    <blockquote class="alert-warning">
        <p>
            The VJS API is NOT asynchronous. In server-side environments like 
            NodeJS vjs.config.loadClass can be used to auto-load class files, 
            but in browser you don't have good equivalent (sync. AJAX is not a 
            good idea anyway).
        </p>
    </blockquote>
    
    <blockquote class="alert-info">
        <p>
            The examples here are simplified. In the real life, such loader 
            function may have to accept a path ("a.b.c") as argument. That is
            up to you to decide.
        </p>
    </blockquote>
</article>
