<article>
    <h1>Constants</h1>
    <p>
        Constants are defined using the <b>const</b> keyword:
        <code>"<b>const</b> something" : 2</code> . 
    </p>
    <p>
        VJS has a very flexible and powerful way of handling the "const" 
        definitions. You can use it on any slot - static or instance properties 
        and methods. In some languages class constants are always static because
        that makes sense - having a static property makes it globally accessible 
        (if it is public). In VJS that would be achieved with:
    </p>
    <pre class="prettyprint lang-js"><code>
    vjs("class A", {
        "const static something" : 5
    });
    </code></pre>
    <p>
        However, in VJS you can do all these:
    </p>
    <pre class="prettyprint lang-js"><code>
    vjs("class A", {
        "const something"        : 5,
        "const static something" : 5,
        "const method"           : function() {},
        "const static method"    : function() {}
    });
    </code></pre>
    <br/>
    <p>
        Basically, when you define something as "const" it becomes locked and 
        is unchangeable. You can think of it as "read-only" variable. However, 
        keep in mind that this is true for simple variables only. For example,
        if you have a "const" property that is a reference to an object, it 
        means that the property cannot be updated to reference to something else,
        but the referenced object is still beyond your control.
    </p>
    
    <blockquote>
        <p>
            <code><b>abstract const</b></code>
            You shouldn't use "const" and "abstract" together. It's like saying 
            "This must not be changed here (in the abstract class where nobody
            can use it), but you must override it to use it"...
        </p>
    </blockquote>
    
    <blockquote>
        <p>
            <code><b>final const</b></code>
            That can be a good idea if you want to guarantee that all the 
            subclasses will use the exact same value of that constant. The 
            final keyword will prevent the subclasses from overriding the constant.
        </p>
    </blockquote>
    
    <h3>Advanced Usage</h3>
    <p>
        Sometimes you might want to reference your constants when you are 
        declaring the class. For example in PHP you can use 
        <code class="prettyprint lang-php">self::$const</code> right after 
        $const have been defined. That is possible because the static properties 
        are defined early, i.e. immediately when their declaration has been parsed. 
        In VJS we cannot have custom keywords, but we can use special local 
        variables if the class was defined using the function pattern:
    </p>
    <pre class="prettyprint lang-js"><code>
    vjs("class A", function(__super__, __self__) { 
        return {
            "const static base" : 5,
            "public add" : function(n) {
                return __self__.base + n;
            }
        }; 
    });
    </code></pre>
    
    <br/>
    <p>
        The constants can be changed once if their initial value is <b>undefined</b>. 
        This can be very useful if you need to declare a constant as part of the 
        class structure, but you want to initialize it later:
    </p>
    <pre class="prettyprint lang-js"><code>
    vjs("class Event", {
        "const type" : undefined,
        "public init" : function(type) {
            this.type = type;
            // from now on nobody can change this.type and mess up 
            // with your events logic...
        } 
    });
    </code></pre>
    <br />
    <br />
    <p>See also: <a href="/tests/index.html?module=const">Unit Tests for "const"</a></p>
</article>