<article>
    <h1>Final Keyword</h1>
    <h3>Final Properties and Methods</h3>
    <p>
        You can define final properties and methods using the <b>final</b> 
        keyword: <code>"<b>final</b> something" : 2</code> . This means that 
        they cannot be overridden in subclasses. Here are some examples: 
    </p>
    <pre class="prettyprint lang-js"><code>
    vjs("<b>class</b> A", {
        "<b>final</b> a" : 5,
        "<b>final static</b> b" : 6,
        "<b>final</b> c" : function() {
            return 7;
        },
        "<b>final static</b> d" : function() {
            return 8;
        }
    });
    </code></pre>
    <br />
    <p>
        The "final" keyword is only useful when you intend to inherit the current
        class. Note that since VJS supports static inheritance, the "final" 
        keyword can also be used on static properties and methods.
    </p>
    <blockquote class="text-warning">
        <p>
            The final properties and methods <b>cannot be overridden</b>. Trying to do 
            so will throw an exception with message like "The final property or 
            method '{name}' cannot be overridden".
        </p>
    </blockquote>
    <blockquote class="text-warning">
        <p>
            The final properties and methods <b>cannot be abstract</b> since that would
            prevent those items from being overridden. Trying to do so will 
            throw an exception explaining the issue.
        </p>
    </blockquote>
    <br />
    <h3>Final Classes</h3>
    <p>
        The entire class can be defined as final using the final keyword 
        (anywhere before the class keyword):
    </p>
    <pre class="prettyprint lang-js"><code>
    vjs("<b>final class</b> A", {
        // ...
    });
    </code>
    </pre>
    <p>
    This means that that class <b>cannot have subclasses</b>.
    </p>
    <br />
    <blockquote class="text-warning">
        <p>
            Trying to extend a final class will throw an exception with message 
            like "Cannot inherit from final class '{name}'".
        </p>
    </blockquote>
    <br />
    <p>See also: <a href="/tests/index.html?module=final">Unit Tests for "final"</a></p>
</article>