<section>
<h1>Introduction</h1>
<p>
    VJS is a small JavaScript library for object-oriented programming. 
    It adds a thin layer of utilities and syntax sugar to your scripts.
</p>
<p>
    Doing an object oriented programming using dynamic language like JavaScript 
    can be very difficult task. There are many difficulties due to the fact that 
    the classical OOP relies on the compile-time transformations and on strong 
    types. JavaScript however, is fully dynamic and loosely typed language, 
    which means we cannot expect to achieve the typical way of using the OOP as 
    we know it from other static languages, but we can at least get close to it.
</p>
<p>
    VJS has a few major goals:
</p>
<ol>
    <li>To be easy to use and learn.</li>
    <li>To work as fast as possible…</li>
    <li>Not to require additional compilation</li>
    <li>To be smart and helpful for the programmer, by providing a rich set of tests  and verbose error messages.</li>
</ol>
<p>Example:</p>
<pre class="prettyprint lang-js"><code>var Event = vjs("<b>class</b> Event", {

    /**
     * The event type is public so anyone can read it 
     * but you non't have to worry. It is a "const" 
     * (read only) property, so once initialized by 
     * the constructor, no one can modify it.
     */
    "<b>const</b> type" : undefined,

    /**
     * Private flag used internally to keep track of 
     * the "PropagationStopped" state of the event.
     */
    "<b>private</b> _isPropagationStopped" : false,

    /**
     * That is how the outer world can check if the 
     * event propagation has been stopped
     */
    "<b>public</b> isPropagationStopped" : function() {
        return this._isPropagationStopped;
    },

    /**
     * Just sets the private "_isPropagationStopped" flag 
     * to true.
     */
    "<b>public</b> stopPropagation" : function() {
        this._isPropagationStopped= true;
    },

    /**
     * The constructor just sets the event type. Note that 
     * once the type property is set (to other than undefined), 
     * it gets locked and nothing can change it and introduce 
     * weird bugs that are very difficult to find...
     */
    "init" : function(type) {
        this.type = type;
    }
});

// USAGE:
// ---------------------------------------------------------------
var myEvent = new Event("customevent");
alert( myEvent.type ); // alerts "customevent"

// throws an exception (cannot change const)
myEvent.type = "anotherevent"; 

myEvent.isPropagationStopped(); // -> false

// throws an exception (cannot access private property)
myEvent._isPropagationStopped = true; 
myEvent.stopPropagation();
myEvent.isPropagationStopped(); // -> true
</code></pre>
<br/>
</section>
