<section>
    <h1>Namespaces</h1>
    
    <p>
        VJS has built-in support for namespaces, meaning that you have yet 
        another powerful tool for your apps. By default, when you create new 
        class it becomes global. For example if we do:
        <code class="prettyprint lang-js">vjs("class SomeClass");</code> 
        then we can directly use the new class from within the global scope 
        <code class="prettyprint lang-js">new SomeClass();</code> or 
        <code class="prettyprint lang-js">new window.SomeClass();</code>. This 
        behaviour was chosen as the default one because it is the most useful 
        and intuitive but it can also be turned off or modified.
    </p>
    
    <p>
        VJS can be instructed to use another namespace by modifying it's 
        configuration like this:
    </p>
    <pre class="prettyprint lang-js"><code>
    var MyNamespace = {};
    vjs.config.namespace = MyNamespace;
    // all the classes below this line will be stored under MyNamespace.
    </code></pre>
    <br />
    <p>
        Or change it just temporary:
    </p>
    <pre class="prettyprint lang-js"><code>
    var MyNamespace = {};
    var oldNamespace = vjs.config.namespace;
    vjs.config.namespace = MyNamespace;
    // Declare some classes in MyNamespace...
    vjs.config.namespace = oldNamespace; // Restore the previous namespace
    </code></pre>
    <br />
    
    <p>
        You can also completely disable this behaviour by assigning some falsy 
        value to vjs.config.namespace:
    </p>
    <pre class="prettyprint lang-js"><code>
    vjs.config.namespace = null;
    </code></pre>
    <p>
        In this case the only way to use the classes is to store them using the 
        return value of the vjs function 
        <code class="prettyprint lang-js">var MyCalss = vjs("class MyCalss");</code>
    </p>
    <br />
    
    <h3>Class Paths</h3>
    <p>
        What if you want to maintain your classes in a nested structure? Isn't 
        that the major idea behind the namespacing? Well, with VJS that is as 
        easy as it can get. You can use the full path expressed in JavaScript 
        dot syntax like so:
    </p>
    <pre class="prettyprint lang-js"><code>
    // The class constructor will be available in A.B.C
    // Note that A and A.B may not yet exist and will be 
    // created for you in this case so the final result 
    // would be something like A : { B : { C : function() {} }}
    vjs("class A.B.C");
    
    // The same paths can be used for the "extends" value
    vjs("class A.B.C extends A.B.E");
    
    // You can also create intermediate arrays this way. Here, 
    // if A doesn't exist it will be created as [ undefined, function() {} ]
    vjs("class A.1.C");
    
    // Just a few more example using more realistic names instead 
    // of just letters
    vjs("class MyLib.Observable", {});
    vjs("class MyLib.Widget extends MyLib.Observable", {});
    vjs("class MyLib.FormControl extends MyLib.Widget", {});
    </code></pre>
    <br />
    <p>
        Finally, keep in mind that all these paths are relative to the current
        namespace root as set in <code>vjs.config.namespace</code>. By default 
        that is the global object and you can access the paths the same way you 
        wrote them. If the <code>vjs.config.namespace</code> is changed, the 
        result would be different:
    </p>
    <pre class="prettyprint lang-js"><code>
    var sandbox = {};
    vjs.config.namespace = sandbox;
    
    // This becomes sandbox.MyLib.Observable
    vjs("class MyLib.Observable", {});
    
    // This becomes sandbox.MyLib.Widget
    vjs("class MyLib.Widget extends MyLib.Observable", {});
    </code></pre>
    <br />
    <p>See also: <a href="/tests/index.html?module=namespaces">Unit Tests for namespaces</a></p>
</section>
