<section>
<h1>Visibility</h1>
<p>
    The visibility of a property or method can be defined by prefixing the 
    declaration with the keywords <b>public</b>, <b>protected</b> or 
    <b>private</b>. Class members declared public can be accessed everywhere. 
    Members declared protected can be accessed only within the class itself 
    and by inherited and parent classes. Members declared as private may only 
    be accessed by the class that defines the member.
</p>
<pre class="prettyprint lang-js"><code>var A = vjs("<b>class</b> A", {
    "<b>public</b> a"    : 1,
    "<b>protected</b> b" : 2,
    "<b>private</b> c"   : 3,
    "<b>public</b> getB" : function() { return this.b; },
    "<b>public</b> getC" : function() { return this.c; }
});

var inst = new A();
inst.a; // works
inst.b; // error
inst.c; // error
inst.getB(); // works
inst.getC(); // works
</code>
</pre>
<br/>

<h3><b>public</b> properties and methods</h3>
<pre class="prettyprint lang-js"><code>vjs("<b>class</b> A", {
    a : 1
});

// OR the equivalent:

vjs("<b>class</b> A", {
    "<b>public</b> a" : 1
});
</code>
</pre>

<p>
    The <b>property visibility defaults to public</b> so if you don't need 
    anything special, you can use the default simple syntax like 
    <code class="prettyprint">{ a : 1 }</code>. Off course, you can be explicit 
    and use <code class="prettyprint">{ "<b>public</b> a" : 1 }</code> too.
</p>
<br/>

<h3><b>private</b> properties or methods</h3>
<pre class="prettyprint lang-js"><code>vjs("<b>class</b> A", {
    "<b>private</b> a" : 1
});
</code>
</pre>
<p>
    The private properties are <b>only accessible from within their scope</b>, 
    i.e. only inside the instance methods (or only at the static methods for the 
    static private properties). <b>They are not inherited</b>. Trying to access a 
    private property or method from outside will result in throwing an exception
    with message similar to <code>Cannot access the property '{name}' from out 
    of scope"</code>.
</p>
<br />

<h3><b>protected</b> properties or methods</h3>
<pre class="prettyprint lang-js"><code>vjs("<b>class</b> A", ({
    "<b>protected</b> a" : 1
});</code></pre>


<p>The protected properties and methods are just like the private ones with the exception that they can be inherited.</p>
</section>